nav {
    height: 65px;
    display: flex;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    background-color: #563D7C;
    color: white;
  }
  body{
    margin: 0 auto;
    background-color: #F5F6F8 !important;
  }
  
  #navSub1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navSub2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  #navSub2 li {
    width: 20%;
  }
  .forMobFriendly {
    display: none;
  }
  .navFloating {
    float: right;
    background-color: white !important;
    color: black !important;
    border-color: white !important;
  }
  .navli1Media {
    width: 100% !important;
    padding: 10px 10px;
    color: black !important;

    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  .navli2Media {
    width: 100% !important;
    padding: 10px 10px;
    color: black !important;
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  .navli3Media {
    width: 100% !important;
    padding: 10px 10px;
    color: black !important;
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  .navli4Media {
    width: 100% !important;
    color: black !important;
    padding: 10px 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  .navli1,
  .navli2,
  .navli3,
  .navli4 {
    display: block;
    cursor: pointer;
    text-align: center;
  }
  .navli1::after,
  .navli2::after,
  .navli3::after,
  .navli4::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: gray;
    transition: width 0.3s;
  }
  .navli1:hover:after,
  .navli2:hover::after,
  .navli3:hover::after,
  .navli4:hover::after {
    width: 100%;
  }
  .navli1Media:hover,
  .navli2Media:hover,
  .navli3Media:hover,
  .navli4Media:hover {
    box-shadow: 5px 5px 15px gray;
  }
  h3{
    text-align: center;
    margin-top: 30px !important;
  }
  #uppr{
    display: flex;
    justify-content: center;
  }
  #lowr{
    width: 90%;
  }
  #upflex{
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  #hid{
    display: none;

  }
  #hid button{
    color: white;
    background-color: #563D7C;
    border: 1.5px solid #563D7C;
  }
  #spass{
    width: 100%;
  }
  #spass:focus{
    outline: none;
  }
  #finder{
    background-color: #ffff;
    width: 310px;
  }
  #file{
    margin-top: 20px;
    width: 100%;
  }
  #foto{
    display: flex;
    justify-content: center;
  }
  #foto img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .same{
    display: flex;
    justify-content:space-around;
  }
  .tdflx{
    margin-top: 25px;
  }
  .tdflx tr td{
    width: 50%;
  }
  .sametop{
    width: 90%;
    /* display: flex; */
    /* justify-content: center; */
  }
  .sameuppertop{
    /* width: 90%; */
    display: flex; 
    justify-content: center;
  }
  #search{
    border: 1px solid lightgray;
    color: white;
    background-color: #563D7C;
    border-radius: 5px;
  }
  #inp{
    display: flex;
    justify-content: center;
  }
  #rno{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 5px;


  }
  #rno:focus{
    outline: none;
  }


  @media only screen and (max-width: 1024px) {
    .forMobFriendly {
      display: block;
    }
    .navli1,
    .navli2,
    .navli3,
    .navli4 {
      display: none;
    }
  }
  