body {
  margin: 0 auto;
  background-color: #F5F6F8 !important;
}
nav {
  height: 65px;
  display: flex;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  background-color:#563D7C ;
  color: white;
}
#Createnewstudentbtn{
  background-color: #563D7C !important;
}
#addnewuserflex{
    display: flex;
    justify-content: center;
}
#addnewuser{
    width: 90%;
    /* background-color: #ffff; */
}
.addnewuserh1{
    text-align: center;
    margin-top: 30px;
}
.cclasformflex{
  display: flex;
  justify-content: center;
  height: 550px;
  background-color: white;
  align-items: center;
  /* width: 300px !important; */
}
.cclasform{
  /* background-color:white; */
  /* box-shadow: 100px  80px 80px 125px white; */
  width: 520px;
  height: fit-content;
  
  /* background-color: #ffff; */
  /* border: 0.5px solid lightgray;
  box-shadow: 5px 5px 15px gray; */
}
#Createnewstudentbtn{
  margin-top: 15px;
  border-radius: 20px;
  color: white;
  background-color: gray !important;
}
#registerstubtn{
  display: flex;
  margin-top: 9px !important;
  justify-content: center;
}
#registerstubtn button{
  width: 100%;
  border: none;
  background-color: #563D7C !important;
  padding: 5px 9px;
  border: 1px solid gray;
}


#loader{
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: hsla(0,0%,100%,.8);;
  width: 100%;
}

#loading-spinner {
  display: block;
  margin: 0 auto;
  -webkit-animation: loading-spinner-spin 2s linear infinite;
          animation: loading-spinner-spin 2s linear infinite;
  will-change: transform;
}

@-webkit-keyframes loading-spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading-circle {
  stroke-dasharray: 105;
  stroke-dashoffset: 105;
  stroke-linecap: round;
  -webkit-animation: loading-spinner-small 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: loading-spinner-small 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  transform: translateZ(0);
  transform-origin: center;
  will-change: stroke-dashoffset;
}

#loading-circle-large {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  stroke-linecap: round;
  -webkit-animation: loading-spinner-large 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: loading-spinner-large 1.7s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  transform: translateZ(0);
  transform-origin: center;
  will-change: stroke-dashoffset;
}

@-webkit-keyframes loading-spinner-large {
  0% {
    stroke-dashoffset: 190;
    transform: scaleY(1);
  }
  49.99% {
    stroke-dashoffset: 0;
    transform: scaleY(1);
  }
  50% {
    stroke-dashoffset: 0;
    transform: scaleY(-1) rotate(25deg);
  }
  100% {
    stroke-dashoffset: 190;
    transform: scaleY(-1) rotate(-32deg);
  }
}

@keyframes loading-spinner-large {
  0% {
    stroke-dashoffset: 190;
    transform: scaleY(1);
  }
  49.99% {
    stroke-dashoffset: 0;
    transform: scaleY(1);
  }
  50% {
    stroke-dashoffset: 0;
    transform: scaleY(-1) rotate(25deg);
  }
  100% {
    stroke-dashoffset: 190;
    transform: scaleY(-1) rotate(-32deg);
  }
}

#main_loader{
  display: none;
  width: 100% !important;

}
nav {
  height: 65px;
  display: flex;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
#navSub1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navSub2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
#navSub2 li {
  width: 20%;
  /* background-color: #563D7C;
   */
color: white;
}
.forMobFriendly {
  display: none;
}
.navFloating {
  float: right;
  background-color: white !important;
  color: black !important;
  border-color: white !important;
}
.navli1Media {
  width: 100% !important;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  color: black !important;

}
.navli2Media {
  width: 100% !important;
  color: black !important;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.navli3Media {
  width: 100% !important;
  color: black !important;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.navli4Media {
  width: 100% !important;
  color: black !important;
  padding: 10px 10px;
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.navli1,
.navli2,
.navli3,
.navli4 {
  display: block;
  cursor: pointer;
  text-align: center;
  color: white;
}
.navli1::after,
.navli2::after,
.navli3::after,
.navli4::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: gray;
  transition: width 0.3s;
  color: white;

}
.navli1:hover:after,
.navli2:hover::after,
.navli3:hover::after,
.navli4:hover::after {
  color: white;

  width: 100%;
}
.navli1Media:hover,
.navli2Media:hover,
.navli3Media:hover,
.navli4Media:hover {
  box-shadow: 5px 5px 15px gray;

}
.inpflx{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
  /* background-color: lightgray; */
}
.inpflx input{
  border: 0.5px solid lightgray;
  padding: 7px 7px;
  width: 60%;
  background-color: #DEDEDE;
  /* border-radius: 15px; */
}
.inpflx input:focus{
  outline: none;
}
#poto{
  display: none;
}
#loto{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border: 0.5px solid lightgray;
width: 60%;
cursor: pointer;
height: 36px;
background-color: #ffff;
}
.border{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  

}





























@media only screen and (max-width: 1024px) {
  .forMobFriendly {
    display: block;
  }
  .navli1,
  .navli2,
  .navli3,
  .navli4 {
    display: none;
  }
}
